.Loginsetup{
    background-color: pink;
    height:100vh;
    width:100vw;
    color:rgb(66, 128, 244);
}
.Loginsetup h1{
   position:absolute;
   left:12rem;
   top:14rem;
}
.Loginsetup .setup{
    position:absolute;
    right:12rem;
    bottom:16rem;
    border:3px rgb(235, 223, 225) solid;
    border-radius: 10px;
    height:13rem;
    width:19rem;
    color: rgb(13, 74, 54);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    justify-items: center;
    padding-top:3rem;
}




